{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Choose a Card</h1>
            </div>

            <div id="status">
                <form method="post" action="/card">
                    <div>
                        <select name="suit">
                            <option value="" disabled selected>Select your Suit</option>

                            <option value="S">Spades</option>
                            <option value="H">Hearts</option>
                            <option value="C">Clubs</option>
                            <option value="D">Diamonds</option>
                        </select>

                        <select name="rank">
                            <option value="" disabled selected>Select your Rank</option>

                            {% for rank in range(1, 13) %}
                                {% if (rank == 1) %}

                                    <option value="A">A</option>

                                {% elseif (rank == 11) %}

                                    <option value="J">J</option>

                                {% elseif (rank == 12) %}

                                    <option value="Q">Q</option>

                                {% elseif (rank == 13) %}

                                    <option value="K">K</option>

                                {% else%}

                                    <option value="{{ rank }}">{{ rank }}</option>1

                                {% endif %}
                            {% endfor %}

                        </select>
                    </div>

                    <div>
                        <input type="submit" value="Start!">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
